fastapi==0.115.12
uvicorn[standard]==0.34.0
pydantic-settings==2.8.1
sqlalchemy[asyncio]==2.0.40
asyncpg==0.30.0
python-telegram-bot[job-queue]==21.9
google-genai==1.10.0
tzdata
# test
pytest==8.3.5
pytest-asyncio==0.25.3
httpx==0.28.1
aiosqlite==0.20.0
